/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */
@import "../partials/defaults";
// Colors
$tokens: (
	comment: #999988 italic 1,
	prolog: #999988 italic 1,
	doctype: #999988 italic 1,
	cdata: #999988 italic 1,
	namespace: inherit normal 0.7,
	string: #e3116c normal 1,
	attr-value: #e3116c normal 1,
	punctuation: #333333 normal 0.8,
	operator: #cccccc normal 1,
	entity: #36acaa normal 1,
	url: #36acaa normal 1,
	symbol: #36acaa normal 1,
	number: #36acaa normal 1,
	boolean: #36acaa normal 1,
	variable: #36acaa normal 1,
	constant: #36acaa normal 1,
	property: #36acaa normal 1,
	regex: #36acaa normal 1,
	inserted: #36acaa normal 1,
	atrule: #00a4db normal 1,
	keyword: #00a4db normal 1,
	attr-name: #00a4db normal 1,
	tag: var(--coat-color-background) normal 1,
	selector: var(--coat-color-background) normal 1,
	important: inherit bold 1,
	function: inherit bold 1,
	bold: inherit bold 1,
	italic: inherit italic 1,
);
$language-autohotkey: (
	selector: #00a4db normal 1,
	tag: #9a050f normal 1,
	keyword: #00009f normal 1,
);
@import "prism";
