/* Error: Can't find stylesheet to import.
 *   ,
 * 2 | @use "cadds" as *;
 *   | ^^^^^^^^^^^^^^^^^
 *   '
 *   src/scss/base.scss 2:1  root stylesheet */

body::before {
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 2 \2502  @use \"cadds\" as *;\a   \2502  ^^^^^^^^^^^^^^^^^\a   \2575 \a   src/scss/base.scss 2:1  root stylesheet";
  display: block;
  border-bottom: 2px solid black;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  padding: 1em;
  margin-bottom: 1em;
}
