/*
    Html & Body
*/
html,
body {
	background-color: coat(background-color);
	color: coat(font-color);
	font-family: coat(font-family);
}
body {
	@include coat-auto(body);
	@media #{$mobile} {
		@include coat-auto(body, mobile);
	}
	@media #{$desktop} {
		@include coat-auto(body, desktop);
	}
}
