footnote {
	display: block;
	border: coat(footnote-border);
	color: coat(footnote-font-color);
	font-size: coat(footnote-font-size);
	text-align: coat(footnote-text-align);
	opacity: coat(footnote-opacity);
	padding: coat(footnote-padding);
}
