#header {
	grid-area: header;
}
#sidebar {
	grid-area: sidebar;
}
#main {
	grid-area: main;
}
#footer {
	grid-area: footer;
}
#blog-footer {
	grid-area: overview;
}
#article {
	grid-area: article;
}
#web {
	grid-area: web;
}
#main,
#blog-footer,
#article {
	width: $max-width;
	max-width: 100%;
}
body {
	@media #{$medium} {
		display: grid;
		grid-template-areas:
			"header header header"
			". article ."
			"sidebar main ."
			"web web web"
			". overview ."
			"footer footer footer";
		grid-template-columns: repeat(3, minmax(250px, 1fr));
		grid-template-rows: auto;
	}
}
