#header {
	grid-area: header;
}
#sidebar {
	grid-area: sidebar;
}
#main {
	grid-area: main;
}
#footer {
	grid-area: footer;
}
#blog-footer {
	grid-area: overview;
}
#article {
	grid-area: article;
}
body {
	@media #{$desktop} {
		display: grid;
		grid-template-areas:
			"header header header header"
			". article article ."
			"sidebar main main ."
			". overview overview ."
			"footer footer footer footer";
		grid-template-columns: repeat(4, minmax(250px, 1fr));
		grid-template-rows: auto;
	}
}
