#footer {
	position: relative;
	@include coat-auto(footer-nav);

	nav {
		z-index: 2;
		display: inline-flex;
		justify-content: center;
		width: 100%;
		margin: 0;
	}
	nav a {
		@include coat-auto(footer-nav-link);
	}
	nav li.active > a {
		@include coat-auto(footer-nav-link-active);
	}

	nav > ul {
		@include coat-auto(footer-nav-list);
		ul {
			padding-left: 0;
		}
	}
	nav > ul li {
		position: relative;
		margin: 0;
		a {
			border-radius: coat(footer-nav, border-radius);
		}

		&::before {
			content: none;
		}
	}

	nav > ul > li > ul {
		margin: 0;
	}
	nav > ul ul li {
		a {
			@include coat-auto-responsive(footer-nav-link-sub);
		}
		&.active a {
			@include coat-auto-responsive(footer-nav-link-sub-active);
		}
	}
	/* Spacing */
	nav li {
		padding: 0;
		& + li {
			margin: 0;
		}
		li + li {
			margin: 0;
		}
	}
}
