#footer {
	position: relative;
	border: coat(footer-nav-border);
	border-radius: coat(header-nav-border-radius);
	background-color: coat(footer-nav-background-color);
	color: coat(footer-nav-font-color);
	@media #{$desktop} {
		padding: coat(footer-nav-padding);
	}
	@media #{$mobile} {
		border-radius: coat(header-nav-border-radius-mobile);
		background-color: coat(footer-nav-background-color-mobile);
		padding: coat(footer-nav-padding-mobile);
	}
	nav {
		z-index: 2;
		display: inline-flex;
		justify-content: center;
		width: 100%;
		margin: 0;
	}
	nav a {
		display: block;
		border-radius: coat(footer-nav-border-radius);
		background-color: coat(footer-nav-font-background-color);
		color: coat(footer-nav-font-color);
		white-space: nowrap;
		text-decoration: none;
		padding: coat(footer-nav-padding);

		&:hover {
			background-color: coat(footer-nav-font-background-color-hover);
			color: coat(footer-nav-font-color-hover);
		}
	}
	nav li.active > a {
		background-color: coat(footer-nav-active-background-color);
		color: coat(footer-nav-active-font-color);
		opacity: 1;
	}

	nav > ul {
		width: 100%;
		max-width: coat(footer-nav-max-width);
		border-radius: coat(footer-nav-border-radius);
		background-color: coat(footer-nav-color-background);
		@media #{$desktop} {
			padding: coat(footer-nav-padding);
			display: flex;
			justify-content: center;
		}
		ul {
			padding-left: 0;
		}
	}
	// nav > ul > li {
	// 	padding: coat(footer-nav-padding) coat(footer-nav-padding);
	// }
	nav > ul li {
		position: relative;
		margin: 0;
		a {
			border-radius: coat(footer-nav-border-radius);
		}

		&::before {
			content: none;
		}
	}

	nav > ul > li > ul {
		margin: 0;
	}
	nav > ul ul li {
		a {
			border-radius: coat(footer-nav-border-radius);
			background-color: coat(footer-nav-sub-font-background-color);
			color: coat(footer-nav-sub-font-color);
			opacity: coat(footer-nav-sub-font-opacity);
			&:hover {
				background-color: coat(footer-nav-sub-font-background-color-hover);
				color: coat(footer-nav-sub-font-color-hover);
				opacity: coat(footer-nav-sub-font-opacity);
			}
		}
	}
	/* Spacing */
	nav li {
		padding: 0;
		& + li {
			margin: 0;
		}
		li + li {
			margin: 0;
		}
	}
}
