#header {
	h1 {
		width: 100%;
		text-align: center;
		@media #{$desktop} {
			text-align: left;
		}
		a {
			color: inherit;
			text-decoration: none;
		}
	}
	@media #{$desktop} {
		z-index: 2;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: coat(header-nav-padding);
		padding: coat(header-nav-padding);
		nav {
			z-index: 2;
			justify-content: center;
			border: coat(header-nav-border);
			border-radius: coat(header-nav-border-radius);
			background-color: coat(header-nav-background-color);
			color: coat(header-nav-font-color);
			margin: 0;
			@media #{$mobile} {
				position: fixed;
				top: 3em;
				right: 3em;
			}
		}
		nav a {
			display: block;
			border-radius: coat(header-nav-border-radius);
			background-color: coat(header-nav-font-background-color);
			color: coat(header-nav-font-colaeror);
			white-space: nowrap;
			text-decoration: none;
			padding: coat(header-nav-padding);
			&:hover {
				background-color: coat(header-nav-font-background-color-hover);
				color: coat(header-nav-font-color-hover);
			}
		}
		nav li.active > a {
			background-color: coat(header-nav-active-background-color);
			color: coat(header-nav-active-font-color);
		}

		nav a + a {
			margin: 0;
			margin-left: calc(#{coat(padding)} / 2);
		}
		nav > ul {
			display: flex;
			justify-content: center;
			border-radius: coat(header-nav-border-radius);
			background-color: coat(header-nav-background-color);
			padding: 0;
			@media #{$mobile} {
				flex-direction: column;
			}
		}
		nav > ul li {
			position: relative;
			margin: 0;
			a {
				border-radius: 0;
			}
			&:first-child > a {
				border-radius: coat(header-nav-border-radius) 0 0
					coat(header-nav-border-radius);
			}
			&:last-child > a {
				border-radius: 0 coat(header-nav-border-radius)
					coat(header-nav-border-radius) 0;
			}
			&:first-child:last-child > a {
				border-radius: coat(header-nav-border-radius);
			}
			&::before {
				content: none;
			}
			&:hover {
				ul {
					transform: translateY(0em) translateX(-50%);
					opacity: 1;
				}
				> a {
					background-color: coat(header-nav-background-color-hover);
					color: coat(header-nav-font-color-hover);
				}
			}
		}

		nav > ul ul {
			position: absolute;
			top: 100%;
			left: 50%;

			z-index: 2;
			display: flex;
			flex-direction: column;
			transform: translateY(1em) translateX(-50%);
			opacity: 0;
			transition: transform coat(transition);
			margin: 0;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				z-index: 2;
				display: block;
				width: 0.75em;
				height: 0.75em;
				border-radius: coat(border-radius) 0 0 0;
				background-color: coat(header-nav-sub-font-background-color);
				transform: translateY(-50%) translateX(-50%) rotate(45deg);
			}
			li {
				position: relative;
				z-index: 2;
			}
		}
		nav > ul ul li {
			a {
				border-radius: 0;
				background-color: coat(header-nav-sub-font-background-color);
				color: coat(header-nav-sub-font-color);
				&:hover {
					background-color: coat(header-nav-sub-font-background-color-hover);
					color: coat(header-nav-sub-font-color-hover);
				}
			}
			&:first-child a {
				border-radius: coat(header-nav-border-radius)
					coat(header-nav-border-radius) 0 0;
			}
			&:last-child a {
				border-radius: 0 0 coat(header-nav-border-radius)
					coat(header-nav-border-radius);
			}
			&:first-child:last-child a {
				border-radius: coat(header-nav-border-radius);
			}
		}
		/* Spacing */
		nav li {
			padding: 0;
			& + li {
				margin: 0;
			}
			li + li {
				margin: 0;
			}
		}
	}
}
