#blog-footer {
	@include coat-auto-responsive(overview);

	li:before {
		content: none;
	}
	ul {
		@include coat-auto-responsive(overview-list);
	}
	li {
		display: flex;
		@include coat-auto-responsive(overview-item);
		@media #{$small} {
			flex-direction: column;
		}
	}
	a {
		@include coat-auto-responsive(overview-link);
	}
	time {
		white-space: nowrap;
		@include coat-auto-responsive(overview-time);
	}
}
