#blog-footer {
	@include coat-auto(overview);

	li:before {
		content: none;
	}
	ul {
		@include coat-auto(overview-list);
	}
	li {
		display: flex;
		@include coat-auto(overview-item);
		@media #{$mobile} {
			flex-direction: column;
			@include coat-auto(overview-item, mobile);
		}
		@media #{$desktop} {
			@include coat-auto(overview-item, desktop);
		}
	}
	a {
		@include coat-auto(overview-link);
		@media #{$mobile} {
			@include coat-auto(overview-link, mobile);
		}
		@media #{$desktop} {
			@include coat-auto(overview-link, desktop);
		}
	}
	time {
		white-space: nowrap;
		@include coat-auto(overview-time);
		@media #{$mobile} {
			@include coat-auto(overview-time, mobile);
		}
		@media #{$desktop} {
			@include coat-auto(overview-time, desktop);
		}
	}
}
