@include web-layout();
@include elements(("blockquote","code","alert","body","detail-list","footnote","horizontal-rule","list","task-list","media","reset","table","content","section","search"));
// Utility classes;
@include background-color();
@include text-color();
@include hide();
// Navigation

@include navigation(
	("header", "footer", "content", "mobile", "trigger", "link")
);

#header {
	grid-area: header;
}
#main {
	grid-area: main;
}
#footer {
	grid-area: footer;
}
#web {
	grid-area: web;
}
#main {
	& > .content {
		width: 100%;
		max-width: base-get(max-width);
		margin: auto;
	}
}
body {
	@media #{mq-get(mobile)} {
		display: grid;
		grid-template-areas:
			"header"
			"main"
			"web"
			"footer";
	}
	@media #{mq-get(desktop)} {
		display: grid;
		grid-template-areas:
			"header header header"
			". main main"
			"web web web"
			"footer footer footer";
		grid-template-columns: auto 1fr auto;
		grid-template-rows: auto;
	}
}
