@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");
/*
    Settings
*/
/*
    Html & Body
*/
html,
body {
  background-color: var(--coat-background-color,#111111);
  color: var(--coat-font-color,#f7f7f7);
  font-family: var(--coat-font-family,Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif');
}

body {
  padding: calc(var(--coat-padding,2rem) / 2);
}

/*
    Base Sizing
*/
* {
  box-sizing: border-box;
  margin: 0;
}

* + h1 {
  margin-top: var(--coat-margin,1em);
}

* + h2 {
  margin-top: var(--coat-margin,1em);
}

* + h3 {
  margin-top: var(--coat-margin,1em);
}

* + h4 {
  margin-top: var(--coat-margin,1em);
}

* + h5 {
  margin-top: var(--coat-margin,1em);
}

* + h6 {
  margin-top: var(--coat-margin,1em);
}

* + p {
  margin-top: var(--coat-margin,1em);
}

* + blockquote {
  margin-top: var(--coat-margin,1em);
}

* + img {
  margin-top: var(--coat-margin,1em);
}

* + a {
  margin-top: var(--coat-margin,1em);
}

* + table {
  margin-top: var(--coat-margin,1em);
}

* + pre {
  margin-top: var(--coat-margin,1em);
}

* + ul {
  margin-top: var(--coat-margin,1em);
}

* + ol {
  margin-top: var(--coat-margin,1em);
}

/*
	Dividers
*/
hr {
  height: 1px;
  border: none;
  background-color: var(--border-color);
  color: var(--border-color);
  opacity: 0.5;
}

/*
    Title
*/
main {
  /*
  	Paragraphs
  */
}
main h1,
main h2,
main h3,
main h4,
main h5 {
  position: relative;
  font-weight: 600;
}
main h1 {
  font-size: calc(1em * (var(--coat-heading-step,0.5) * 6));
  font-family: var(--coat-heading-font-family,inherit);
  line-height: 1;
}
main h2 {
  font-size: calc(1em * (var(--coat-heading-step,0.5) * 5));
  font-family: var(--coat-heading-font-family,inherit);
  line-height: 1.25;
}
main h3 {
  font-size: calc(1em * (var(--coat-heading-step,0.5) * 4));
  font-family: var(--coat-heading-font-family,inherit);
  line-height: 1.25;
}
main h4 {
  font-size: calc(1em * (var(--coat-heading-step,0.5) * 3));
  font-family: var(--coat-heading-font-family,inherit);
  line-height: 1.5;
}
main h5 {
  font-size: calc(1em * (var(--coat-heading-step,0.5) * 2));
  font-family: var(--coat-heading-font-family,inherit);
  line-height: 1.75;
}
main h6 {
  font-weight: bold;
  font-size: calc(1em * (var(--coat-heading-step,0.5) * 1));
  font-family: var(--coat-heading-font-family,inherit);
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
main .header-anchor {
  position: absolute;
  right: 100%;
  border-radius: var(--coat-border-radius,0.25em);
  background-color: var(--coat-color-secondary,#e3116c);
  color: currentColor;
  font-size: 0.5em;
  text-decoration: none;
  padding: var(--coat-padding,2rem);
}
main p {
  font-size: 1em;
  line-height: 1.75;
}
main ul a,
main p > a {
  position: relative;
  z-index: 1;
  display: inline-block;
  border-bottom: var(--coat-link-border-bottom,2px solid rgba(0, 164, 219, 0.25));
  color: var(--coat-link-font-color,#00a4db);
  text-decoration: none;
}
main ul a[aria-label]::before, main ul a[href]::before,
main p a[aria-label]::before,
main p a[href]::before {
  content: attr(href);
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 2;
  border-radius: inherit;
  background-color: var(--coat-color-background,);
  color: var(--coat-color-foreground,);
  font-size: 0.75em;
  font-family: var(--coat-code-font,);
  white-space: nowrap;
  transform: translateX(-75%) translateY(0%) scale(0.85);
  opacity: 0;
  transition: var(--coat-transition-time,0.3s);
  padding: calc(var(--coat-padding,2rem) / 12) calc(var(--coat-padding,2rem) / 4);
}
main p a[aria-label]::before {
  content: attr(aria-label);
}
main p a:hover::before {
  transform: translateX(-50%) translateY(0%) scale(1);
  opacity: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
}
table tr {
  background-color: #111111;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) {
  background-color: #222222;
}
table tr th {
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding: var(--coat-table-cell-padding,0.5em 1em);
}
table tr td {
  border: 1px solid rgba(0, 164, 219, 0.25);
  text-align: left;
  margin: 0;
  padding: var(--coat-table-cell-padding,0.5em 1em);
}
table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

/*
	Code
*/
code {
  display: inline-block;
}

pre > code {
  border-radius: var(--coat-code-block-border-radius,0.25em);
  background-color: var(--coat-code-block-background-color,#222222);
  color: var(--coat-code-block-font-color,#f7f7f7);
  padding: var(--coat-code-block-padding,0.5em 1em);
  font-size: var(--coat-code-block-font-size,1em);
  font-family: var(--coat-code-block-font-family,'IBM Plex', 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace);
  line-height: code(code-block-line-height);
}

:not(pre) > code {
  border-radius: var(--coat-code-border-radius,0.25em);
  background-color: var(--coat-code-background-color,rgba(0, 164, 219, 0.25));
  color: var(--coat-code-font-color,#f7f7f7);
  padding: var(--coat-code-padding,0.5em);
  font-size: var(--coat-code-font-size,1em);
  font-family: var(--coat-code-font-family,'IBM Plex', 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace);
  line-height: code(code-line-height);
}

pre {
  width: 100%;
  border-radius: var(--coat-border-radius);
  background-color: var(--coat-code-background);
  overflow-x: auto;
}

/*
    List
*/
ul:not([class]),
ol:not([class]) {
  padding: 0;
}
ul:not([class]) li,
ol:not([class]) li {
  position: relative;
  padding-left: 2em;
  list-style-type: none;
  line-height: 2;
}
ul:not([class]) li + li,
ol:not([class]) li + li {
  margin-top: var(--coat-list-margin,);
}
ul:not([class]) li::before,
ol:not([class]) li::before {
  position: absolute;
  left: 0;
  width: var(--coat-list-prefix-width,auto);
  border-radius: var(--coat-list-prefix-border-radius,0);
  background: var(--coat-list-prefix-background-color,transparent);
}
ul:not([class]) ol,
ul:not([class]) ul,
ol:not([class]) ol,
ol:not([class]) ul {
  padding-left: 1em;
}

/*
    Unordered List
*/
ul:not([class]) li::before {
  content: "var(--coat-list-prefix-symbol,--)";
  display: inline-block;
  color: var(--coat-list-prefix-font-color,#00a4db);
}

/*
    Ordered List
*/
ol:not([class]) {
  counter-reset: list;
}
ol:not([class]) li {
  counter-increment: list;
}
ol:not([class]) li::before {
  content: counter(list) "";
  width: var(--coat-list-prefix-width,auto);
  border-radius: var(--coat-list-prefix-border-radius,0);
  background: var(--coat-list-prefix-background-color,transparent);
  color: var(--coat-list-prefix-font-color,#00a4db);
  font-size: 0.75em;
  margin-right: -0.25em;
}

dl {
  padding: 0;
}
dl dt {
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}
dl dt:first-child {
  padding: 0;
}
dl dt > :first-child {
  margin-top: 0;
}
dl dt > :last-child {
  margin-bottom: 0;
}
dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}
dl dd > :first-child {
  margin-top: 0;
}
dl dd > :last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=coat-dark.css.map */
