/*
	Code
*/
code {
	display: inline-block;
}
pre > code {
	@include coat(code-block, border-radius);
	@include coat(code-block, background-color);
	@include coat(code-block, color);
	@include coat(code-block, padding);
	@include coat(code-block, font-size);
	@include coat(code-block, font-family);
	@include coat(code-block, line-height);
}
:not(pre) > code {
	@include coat(code, border-radius);
	@include coat(code, background-color);
	@include coat(code, color);
	@include coat(code, padding);
	@include coat(code, font-size);
	@include coat(code, font-family);
	@include coat(code, line-height);
}

pre {
	width: 100%;
	@include coat(code, border-radius);
	@include coat(code, background-color);
	overflow-x: auto;
}
