.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
@mixin grid-partials($bp) {
	&.#{$bp}-full .column {
		width: 100%;
	}
	&.#{$bp}-half .column {
		width: 50%;
	}
	&.#{$bp}-two-third .column {
		width: calc(100% / 3 * 2);
	}
	&.#{$bp}-third .column {
		width: calc(100% / 3);
	}
	&.#{$bp}-quarter .column {
		width: 25%;
	}
	&.#{$bp}-three-quarter .column {
		width: 75%;
	}
}
.row {
	@media #{$small} {
		@include grid-partials("small");
	}
	@media #{$medium} {
		@include grid-partials("medium");
	}
	@media #{$large} {
		@include grid-partials("large");
	}
}
