/*
    List
*/
ul:not([class]),
ol:not([class]) {
	padding: 0;
	> li {
		position: relative;
		padding-left: 2em;
		list-style-type: none;
		line-height: 2;
		& + li {
			margin-top: 1em;
		}
		&::before {
			position: absolute;
			left: 0;
			width: coat(list-prefix, width);
			border-radius: coat(list-prefix, border-radius);
			background: coat(list-prefix, background-color);
		}
	}
	ol,
	ul {
		padding-left: 1em;
	}
}

/*
    Unordered List
*/

ul:not([class]) {
	> li {
		&::before {
			content: "—";
			display: inline-block;
			color: coat(list-prefix, color);
			counter-reset: variable coat(list-prefix, color);
		}
	}
}

/*
    Ordered List
*/

ol:not([class]) {
	counter-reset: list;
	> li {
		counter-increment: list;
		&::before {
			content: counter(list) "";
			width: coat(list-prefix, width);
			border-radius: coat(list-prefix, border-radius);
			background: coat(list-prefix, background-color);
			color: coat(list-prefix, color);
			font-size: 0.75em;
			margin-right: -0.25em;
		}
	}
}
