// /*
//     Table
// */

table {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	tr {
		background-color: coat(color-white);
		margin: 0;
		padding: 0;

		&:nth-child(2n) {
			background-color: coat(color-light);
		}
		th {
			font-weight: bold;
			text-align: left;
			margin: 0;
			@include coat(table-cell, padding);
		}
		td {
			@include coat(table, border);
			text-align: left;
			margin: 0;
			@include coat(table-cell, padding);
		}
		th :first-child,
		td :first-child {
			margin-top: 0;
		}
		th :last-child,
		td :last-child {
			margin-bottom: 0;
		}
	}
}
