.task-list-item {
	line-height: 1.75;

	.task-list-item-checkbox {
		position: absolute;
		opacity: 0;
		& ~ .task-list-item-label {
			@include coat-auto(tasklist-label);
			&::before {
				content: "✓" !important;
				@include coat-auto(tasklist-dot);
			}
		}
		&:checked ~ .task-list-item-label {
			@include coat-auto(tasklist-label-checked);
			&::before {
				@include coat-auto(tasklist-dot-checked);
			}
		}
	}
}
