/*
    Html & Body
*/
html,
body {
	color: var(--coat-font-color);
	font-family: var(--coat-font-family);
}
html {
	display: flex;
	justify-content: center;
	background-color: var(--coat-background-color);
	padding: calc(var(--coat-padding) / 2);
}

body {
	width: 100%;
	max-width: var(--coat-max-width);
	border-radius: var(--coat-border-radius);
	background-color: var(--coat-content-background-color);
	padding: var(--coat-padding);
}
