/*
	Code
*/
code {
	display: inline-block;
	border-radius: coat(code-border-radius);
	background-color: coat(code-background-color);
	color: coat(code-font-color);
	font-size: coat(code-font-size);
	padding: coat(code-padding);
}
code,
pre {
	font-family: coat(code-font-family);
}
code,
pre > code,
pre > code > xmp {
	font-size: coat(code-font-size);
	line-height: 2;
}
pre > code {
	background-color: transparent;
	padding: coat(code-padding);
}
pre {
	width: 100%;
	border-radius: var(--coat-border-radius);
	background-color: var(--coat-code-background);
	overflow-x: auto;
}
