/*
	Code
*/
code {
	display: inline-block;
	border-radius: var(--coat-border-radius);
	background-color: var(--coat-code-background);
	color: var(--coat-code-font-color);
	padding: calc(var(--coat-padding) / 4);
	/* max-width: calc(100% - (var(--coat-padding) * 2)); */
}
code,
pre > code,
pre > code > xmp {
	font-size: 0.85em;
	font-family: var(--coat-code-font);
	line-height: 2;
}
pre > code {
	background-color: transparent;
	padding: var(--coat-padding) calc(var(--coat-padding) * 1.25);
}
pre {
	width: 100%;
	border-radius: var(--coat-border-radius);
	background-color: var(--coat-code-background);
	overflow-x: auto;
}
