/*
    Html & Body
*/
html,
body {
	background-color: coat(background-color);
	color: coat(font-color);
	font-family: coat(font-family);
}
body {
	padding: calc(#{coat(padding)} / 2);
}
#header {
	grid-area: header;
}
#sidebar {
	grid-area: sidebar;
}
#main {
	grid-area: main;
}
#footer {
	grid-area: footer;
}
body {
	@media #{$desktop} {
		display: grid;
		grid-template-areas:
			"header header header header"
			"sidebar main main ."
			". footer footer .";
		grid-template-columns: repeat(4, minmax(250px, 1fr));
		grid-template-rows: auto;
	}
}
