/*
    List
*/
ol li,
ul li {
	list-style-type: none;
}
ul,
ol {
	padding: 0;
}

/*
    Unordered List
*/

ul li::before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background: var(--coat-color-primary);
	font-size: 0.75em;
	margin-right: -0.25em;
}

/*
    Ordered List
*/

ol {
	counter-reset: list;
}
ol li {
	counter-increment: list;
}
ol li::before {
	content: counter(list) "";
	border-radius: var(--coat-border-radius);
	background: var(--coat-color-primary);
	font-size: 0.75em;
	padding: calc(var(--coat-padding) / 4) calc(var(--coat-padding) / 4);
	margin-right: -0.25em;
}
