/*
    List
*/
ul:not([class]),
ol:not([class]) {
	padding: 0;
	li {
		position: relative;
		padding-left: 2em;
		list-style-type: none;
		line-height: 2;
		& + li {
			margin-top: coat(margin);
		}
		&::before {
			position: absolute;
			top: 0.5em;
			left: 0;
		}
	}
	ol,
	ul {
		padding-left: 1em;
	}
}

/*
    Unordered List
*/

ul:not([class]) {
	li {
		&::before {
			content: "—";
			display: inline-block;
			color: coat(color-primary);
		}
	}
}

/*
    Ordered List
*/

ol:not([class]) {
	counter-reset: list;
	li {
		counter-increment: list;
		&::before {
			content: counter(list) "";
			border-radius: coat(border-radius);
			background: coat(color-primary);
			font-size: 0.75em;
			margin-right: -0.25em;
		}
	}
}
