// /*
//     Table
// */

table {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	tr {
		background-color: $color-white;
		margin: 0;
		padding: 0;

		&:nth-child(2n) {
			background-color: $color-light;
		}
		th {
			font-weight: bold;
			text-align: left;
			margin: 0;
			padding: coat(table-cell-padding);
		}
		td {
			border: 1px solid rgba($color-primary, 0.25);
			text-align: left;
			margin: 0;
			padding: coat(table-cell-padding);
		}
		th :first-child,
		td :first-child {
			margin-top: 0;
		}
		th :last-child,
		td :last-child {
			margin-bottom: 0;
		}
	}
}
