/*
    Table
*/
table {
	width: 100%;
	border-radius: var(--coat-border-radius);
	border-collapse: collapse;
	background-color: var(--coat-table-background-color, transparent);
	color: var(--coat-table-font-color, currentColor);
}
table td,
table th {
	text-align: left;
	padding: calc(var(--coat-padding) / 2);
}
table td {
	border: 1px solid var(--coat-table-border-color, var(--coat-border-color));
}
table tbody tr {
	position: relative;
}
table td,
table th {
	font-size: 1em;
	line-height: 1.75;
}
