/*
    Title
*/
main {
	h1,
	h2,
	h3,
	h4,
	h5 {
		position: relative;
		font-weight: 600;
	}

	h1 {
		font-size: calc(1em * (#{coat(heading-step)} * 6));
		font-family: coat(heading-font-family);
		line-height: 1;
	}
	h2 {
		font-size: calc(1em * (#{coat(heading-step)} * 5));
		font-family: coat(heading-font-family);
		line-height: 1.25;
	}
	h3 {
		font-size: calc(1em * (#{coat(heading-step)} * 4));
		font-family: coat(heading-font-family);
		line-height: 1.25;
	}
	h4 {
		font-size: calc(1em * (#{coat(heading-step)} * 3));
		font-family: coat(heading-font-family);
		line-height: 1.5;
	}
	h5 {
		font-size: calc(1em * (#{coat(heading-step)} * 2));
		font-family: coat(heading-font-family);
		line-height: 1.75;
	}

	h6 {
		font-weight: bold;
		font-size: calc(1em * (#{coat(heading-step)} * 1));
		font-family: coat(heading-font-family);
		line-height: 1;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	.header-anchor {
		position: absolute;
		right: 100%;
		border-radius: coat(border-radius);
		background-color: coat(color-secondary);
		color: currentColor;
		font-size: 0.5em;
		text-decoration: none;
		padding: coat(padding);
	}
	/*
	Paragraphs
*/
	p {
		font-size: 1em;
		line-height: 1.75;
	}
	ul a,
	p > a {
		position: relative;
		z-index: 1;
		display: inline-block;
		border-bottom: coat(link-border-bottom);
		color: coat(link-font-color);
		text-decoration: none;
	}

	ul a,
	p a {
		&[aria-label]::before,
		&[href]::before {
			content: attr(href);
			position: absolute;
			top: 100%;
			left: 50%;
			z-index: 2;
			border-radius: inherit;
			background-color: coat(color-background);
			color: coat(color-foreground);
			font-size: 0.75em;
			font-family: coat(code-font);
			white-space: nowrap;
			transform: translateX(-75%) translateY(0%) scale(0.85);
			opacity: 0;
			transition: coat(transition-time);
			padding: calc(#{coat(padding)} / 12) calc(#{coat(padding)} / 4);
		}
	}
	p a[aria-label]::before {
		content: attr(aria-label);
	}
	p a:hover::before {
		transform: translateX(-50%) translateY(-0%) scale(1);
		opacity: 1;
	}
}
