header {
	nav {
		position: fixed;
		left: 50%;
		z-index: 2;
		display: inline-flex;
		justify-content: center;
		width: 100%;
		transform: translateX(-50%);
		@media #{$mobile} {
			top: 0;
		}
	}
	nav a {
		display: block;
		border-radius: var(--coat-border-radius);
		background-color: var(--coat-color-background);
		color: var(--coat-color-foreground);
		white-space: nowrap;
		padding: calc(var(--coat-padding) / 2) calc(var(--coat-padding) / 3);
		text-decoration: none;
		&:hover {
			background-color: var(--coat-color-primary);
			color: var(--coat-color-foreground);
		}
	}

	nav a + a {
		margin: 0;
		margin-left: calc(var(--coat-padding) / 2);
	}
	nav > ul {
		display: flex;
		justify-content: center;
		border-radius: var(--coat-border-radius);
		background-color: var(--coat-color-background);
		padding: 0;
		// @media #{$mobile} {
		// 	flex-direction: column;
		// 	align-items: center;
		// 	width: 100%;
		// 	height: 100vh;
		// }
	}
	nav > ul li {
		position: relative;
		margin: 0;
		a {
			border-radius: 0;
		}
		&:first-child > a {
			border-radius: var(--coat-border-radius) 0 0 var(--coat-border-radius);
		}
		&:last-child > a {
			border-radius: 0 var(--coat-border-radius) var(--coat-border-radius) 0;
		}
		&:first-child:last-child > a {
			border-radius: var(--coat-border-radius);
		}
		&::before {
			content: none;
		}
		&:hover {
			ul {
				transform: translateY(0em);
				opacity: 1;
			}
		}
	}

	nav > ul ul {
		position: absolute;
		top: 100%;
		left: 0;
		display: flex;
		flex-direction: column;
		transform: translateY(1em);
		opacity: 0;
		transition: transform var(--coat-transition);
		margin: 0;
	}
	nav > ul ul li {
		a {
			border-radius: 0;
			background-color: var(--coat-color-foreground);
			color: var(--coat-color-background);
		}
		&:first-child a {
			border-radius: var(--coat-border-radius) var(--coat-border-radius) 0 0;
		}
		&:last-child a {
			border-radius: 0 0 var(--coat-border-radius) var(--coat-border-radius);
		}
		&:first-child:last-child a {
			border-radius: var(--coat-border-radius);
		}
	}
	/* Spacing */
	nav li {
		& + li {
			margin: 0;
			margin-left: calc(var(--coat-padding) / 2);
		}
		li + li {
			margin: 0;
		}
	}
}
