#sidebar {
	border-radius: coat(sidebar-nav-border-radius);
	background-color: coat(sidebar-nav-background-color);
	color: coat(sidebar-nav-font-color);

	@media #{$desktop} {
		padding: coat(padding);
	}
	nav {
		z-index: 2;
		display: inline-flex;
		margin: 0;
		@media #{$desktop} {
			width: 100%;
		}
		@media #{$mobile} {
			position: fixed;
			top: 3em;
			left: 3em;
		}
	}
	nav a {
		display: block;
		background-color: coat(sidebar-nav-font-background-color);
		color: coat(sidebar-nav-font-color);
		white-space: nowrap;
		text-decoration: none;
		padding: calc(#{coat(sidebar-nav-padding)} / 2)
			calc(#{coat(sidebar-nav-padding)} / 3);
		opacity: coat(sidebar-nav-font-opacity);
		&:hover {
			background-color: coat(sidebar-nav-font-background-color-hover);
			color: coat(sidebar-nav-font-color-hover);
			opacity: coat(sidebar-nav-font-opacity-hover);
		}
	}

	nav a + a {
		margin: 0;
		margin-left: calc(#{coat(sidebar-nav-padding)} / 2);
	}
	nav > ul {
		display: flex;
		flex-direction: column;
		border-radius: coat(sidebar-nav-border-radius);
		background-color: coat(sidebar-nav-color-background);
		padding: 0;
		// @media #{$mobile} {
		// 	flex-direction: column;
		// 	align-items: center;
		// 	width: 100%;
		// 	height: 100vh;
		// }
	}
	nav > ul li {
		position: relative;
		margin: 0;
		a {
			border-radius: 0;
		}
		&:first-child > a {
			border-radius: coat(sidebar-nav-border-radius) 0 0
				coat(sidebar-nav-border-radius);
		}
		&:last-child > a {
			border-radius: 0 coat(sidebar-nav-border-radius)
				coat(sidebar-nav-border-radius) 0;
		}
		&:first-child:last-child > a {
			border-radius: coat(sidebar-nav-border-radius);
		}
		&::before {
			content: none;
		}
	}

	nav > ul ul {
		padding-left: calc(#{coat(padding)} / 2);
	}
	nav > ul ul li {
		a {
			border-radius: 0;
			background-color: coat(sidebar-nav-sub-font-background-color);
			color: coat(sidebar-nav-sub-font-color);
			opacity: coat(sidebar-nav-sub-font-opacity);
			&:hover {
				background-color: coat(sidebar-nav-sub-font-background-color-hover);
				color: coat(sidebar-nav-sub-font-color-hover);
				opacity: coat(sidebar-nav-sub-font-opacity-hover);
			}
		}
		&:first-child a {
			border-radius: coat(sidebar-nav-border-radius)
				coat(sidebar-nav-border-radius) 0 0;
		}
		&:last-child a {
			border-radius: 0 0 coat(sidebar-nav-border-radius)
				coat(sidebar-nav-border-radius);
		}
		&:first-child:last-child a {
			border-radius: coat(sidebar-nav-border-radius);
		}
	}
	/* Spacing */
	nav li {
		padding: 0;
		& + li {
			margin: 0;
		}
		li + li {
			margin: 0;
		}
	}
}
