/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */
/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */
code[class*=language-],
pre[class*=language-] {
  color: var(--coat-code-block-font-color,#333333);
  font-size: 1em;
  font-family: var(--coat-code-block-font-family,'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace);
  line-height: var(--coat-code-block-line-height,2);
  white-space: pre;
  direction: ltr;
  text-align: left;
  word-break: normal;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre > code[class*=language-] {
  font-size: var(--coat-code-font-size,1em);
}

pre[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection,
code[class*=language-] ::-moz-selection,
pre[class*=language-]::selection,
pre[class*=language-] ::selection,
code[class*=language-]::selection,
code[class*=language-] ::selection {
  background: var(--coat-code-selection,#00a4db);
}

/* Code blocks */
pre[class*=language-] {
  border: 1px solid var(--coat-code-block-border-color,#f7f7f7);
  background: var(--coat-code-block-background-color,#f7f7f7);
  overflow: auto;
  padding: 1em;
}

/* Inline code */
:not(pre) > code,
:not(pre) > code[class*=language-] {
  border: 1px solid var(--coat-code-border-color,#f7f7f7);
  background: var(--coat-code-background-color,#99e5ff);
  font-size: var(--coat-code-font-size,1em);
  line-height: var(--coat-code-line-height,1);
}

.token.comment {
  color: #999988;
  color: #999988;
  font-style: italic;
}

.token.prolog {
  color: #999988;
  color: #999988;
  font-style: italic;
}

.token.doctype {
  color: #999988;
  color: #999988;
  font-style: italic;
}

.token.cdata {
  color: #999988;
  color: #999988;
  font-style: italic;
}

.token.namespace {
  color: inherit;
  opacity: 0.7;
}

.token.string {
  color: #e3116c;
}

.token.attr-value {
  color: #e3116c;
}

.token.punctuation {
  color: #333333;
  opacity: 0.8;
}

.token.operator {
  color: #cccccc;
}

.token.entity {
  color: #36acaa;
}

.token.url {
  color: #36acaa;
}

.token.symbol {
  color: #36acaa;
}

.token.number {
  color: #36acaa;
}

.token.boolean {
  color: #36acaa;
}

.token.variable {
  color: #36acaa;
}

.token.constant {
  color: #36acaa;
}

.token.property {
  color: #36acaa;
}

.token.regex {
  color: #36acaa;
}

.token.inserted {
  color: #36acaa;
}

.token.atrule {
  color: #00a4db;
}

.token.keyword {
  color: #00a4db;
}

.token.attr-name {
  color: #00a4db;
}

.token.tag {
  color: var(--coat-color-background);
}

.token.selector {
  color: var(--coat-color-background);
}

.token.important {
  color: inherit;
  color: inherit;
  font-weight: bold;
}

.token.function {
  color: inherit;
  color: inherit;
  font-weight: bold;
}

.token.bold {
  color: inherit;
  color: inherit;
  font-weight: bold;
}

.token.italic {
  color: inherit;
  color: inherit;
  font-style: italic;
}

.language-autohotkey .token.selector {
  color: #00a4db;
}

.language-autohotkey .token.tag {
  color: #9a050f;
}

.language-autohotkey .token.keyword {
  color: #00009f;
}

/*# sourceMappingURL=coat.css.map */
