nav {
	display: inline-flex;
	justify-content: center;
	width: 100%;
	gap: 10;
}
nav a {
	display: block;
	border-radius: var(--coat-border-radius);
	background-color: var(--coat-color-background);
	color: var(--coat-color-foreground);
	padding: calc(var(--coat-padding) / 4);
	text-decoration: none;
}

nav a + a {
	margin: 0;
	margin-left: calc(var(--coat-padding) / 2);
}
