:root {
	/* 
		Base
	*/
	--coat-padding: 2rem;
	--coat-transition-time: 0.3s;
	--coat-transition-bezier: ease-in-out;
	--coat-transition: var(--coat-transition-time) var(--coat-transition-bezier);
	--coat-max-width: 960px;
	--coat-border-radius: 0.25em;
	--coat-border-color: var(--coat-color-foreground);
	--coat-border-width: 1px;
	/* 
		Fonts
	*/
	--coat-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--coat-heading-step: 0.5;
	--coat-heading-font-family: var(--coat-font-family);
	--coat-font-color: var(--coat-color-foreground);

	/* 
		Code
	*/
	--coat-code-font: "Courier New", Courier, monospace;
	--coat-code-font-color: var(--coat-color-foreground);
	--coat-code-background: var(--coat-color-primary);
}
